.btn {
	background-color: $mainBlue;
	color: #FFF;
	text-decoration: none;
	padding: .75rem 1.2rem;/*the first parameter is for top and bottom, the second for left and right*/
	display: inline-block;	
		
		
	&--orange {
		background-color:$mainOrange;
	}
	
	&--large{
/*	default font-size is 1 rem*/
		padding:1.1rem 1.9rem;
		
		@mixin atSmall {
				font-size:1.25rem;
		}
	}
	
}