.page-section {
  padding: 1.2rem 0;

  &--text-white {
    color: white;
  }

  @mixin atMedium {
    padding: 4.5rem 0;
    /*vertical and horizontal paddings*/
  }

  &--no-b-paddding-until-medium {
    padding-bottom: 0;

    @mixin atMedium {
      padding-bottom: 4.5rem;
    }
  }

  &--no-b-paddding-until-large {
    padding-bottom: 0;

    @mixin atLarge {
      padding-bottom: 4.5rem;
    }
  }

  &--blue {
    background-color: $mainBlue;
  }

  &--testimonials {
    background-color: #e0e6ef;

    @mixin atLarge {

      /* restriction by '.': only if the & has class lazyloaded */
      &.lazyloaded {
        /* 'top' and 'center' are alignment parameters */
        background: url('/assets/images/testimonials-bg.jpg') top center no-repeat;
        /* the property defines if the image is big or small enough to cover a div */
        background-size: cover;
      }
    }
  }
}